build/android-profile/profile-2018-02-15-17-15-00-193.rawproto
build/android-profile/profile-2018-02-15-17-15-00-193.json
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/built.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileChanges/last-build.bin
app/app.iml
ak-universal-helper/ak-universal-helper.iml
.idea/workspace.xml
.idea/libraries/com_android_support_recyclerview_v7_23_1_1.xml
.idea/libraries/com_android_support_design_23_1_1.xml
.idea/libraries/com_android_support_appcompat_v7_23_3_0.xml
.idea/libraries/com_android_support_animated_vector_drawable_23_3_0.xml
.gradle/4.1/fileHashes/resourceHashesCache.bin
local.properties
build/android-profile/profile-2018-02-15-17-15-57-838.rawproto
build/android-profile/profile-2018-02-15-17-15-57-838.json
.idea/libraries/com_android_support_support_vector_drawable_23_3_0.xml
.idea/libraries/com_android_support_support_v4_23_3_0.xml
.idea/libraries/com_android_support_support_annotations_23_3_0_jar.xml
