build/android-profile/profile-2018-02-15-17-15-00-193.rawproto
build/android-profile/profile-2018-02-15-17-15-00-193.json
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/built.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileChanges/last-build.bin
app/app.iml
ak-universal-helper/ak-universal-helper.iml
.gradle/4.1/fileHashes/resourceHashesCache.bin
build/android-profile/profile-2018-02-15-17-15-57-838.rawproto
build/android-profile/profile-2018-02-15-17-15-57-838.json


# Built application files
/*/build/
build/

local.properties

# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
*.iml

# Signing files
.signing/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db