build/android-profile/profile-2018-02-15-17-15-00-193.rawproto
build/android-profile/profile-2018-02-15-17-15-00-193.json
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/built.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileChanges/last-build.bin
app/app.iml
ak-universal-helper/ak-universal-helper.iml
.gradle/4.1/fileHashes/resourceHashesCache.bin
build/android-profile/profile-2018-02-15-17-15-57-838.rawproto
build/android-profile/profile-2018-02-15-17-15-57-838.json


# Built application files
/*/build/

local.properties

# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
*.iml

# Signing files
.signing/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
build/android-profile/profile-2018-03-02-14-37-00-468.json
build/android-profile/profile-2018-03-02-12-39-53-531.rawproto
build/android-profile/profile-2018-03-02-12-39-53-531.json
build/android-profile/profile-2018-03-02-12-39-40-763.rawproto
build/android-profile/profile-2018-03-02-12-39-40-763.json
build/android-profile/profile-2018-03-02-12-39-34-111.rawproto
build/android-profile/profile-2018-03-02-12-39-34-111.json
build/android-profile/profile-2018-03-02-12-39-31-610.rawproto
build/android-profile/profile-2018-03-02-12-39-31-610.json
build/android-profile/profile-2018-03-02-12-37-13-541.rawproto
build/android-profile/profile-2018-03-02-12-37-13-541.json
build/android-profile/profile-2018-03-02-12-37-10-692.rawproto
build/android-profile/profile-2018-03-02-12-37-10-692.json
build/android-profile/profile-2018-03-02-12-36-53-832.rawproto
build/android-profile/profile-2018-03-02-12-36-53-832.json
build/android-profile/profile-2018-03-02-12-36-46-604.rawproto
build/android-profile/profile-2018-03-02-12-28-24-522.json
build/android-profile/profile-2018-03-02-12-27-11-677.rawproto
build/android-profile/profile-2018-03-02-12-27-11-677.json
build/android-profile/profile-2018-03-02-12-26-17-004.rawproto
build/android-profile/profile-2018-03-02-12-26-17-004.json
build/android-profile/profile-2018-03-02-12-25-45-417.rawproto
build/android-profile/profile-2018-03-02-12-25-45-417.json
build/android-profile/profile-2018-03-02-12-25-14-719.rawproto
build/android-profile/profile-2018-03-02-12-25-14-719.json
build/android-profile/profile-2018-03-02-11-48-47-200.rawproto
build/android-profile/profile-2018-03-02-11-48-47-200.json
build/android-profile/profile-2018-03-02-11-48-23-040.rawproto
build/android-profile/profile-2018-03-02-11-48-23-040.json
build/android-profile/profile-2018-02-20-08-59-51-525.rawproto
build/android-profile/profile-2018-02-20-08-59-51-525.json
build/android-profile/profile-2018-02-20-08-59-21-856.rawproto
build/android-profile/profile-2018-02-20-08-59-21-856.json
build/android-profile/profile-2018-02-20-08-58-02-181.rawproto
build/android-profile/profile-2018-02-20-08-58-02-181.json
build/android-profile/profile-2018-02-20-00-35-53-847.rawproto
build/android-profile/profile-2018-02-20-00-35-53-847.json
build/android-profile/profile-2018-02-20-00-28-46-285.rawproto
build/android-profile/profile-2018-02-20-00-28-46-285.json
build/android-profile/profile-2018-02-20-00-28-00-782.rawproto
build/android-profile/profile-2018-02-20-00-28-00-782.json
build/android-profile/profile-2018-03-02-15-32-53-723.rawproto
build/android-profile/profile-2018-03-02-15-32-53-723.json
build/android-profile/profile-2018-03-02-15-32-43-401.rawproto
build/android-profile/profile-2018-03-02-15-32-43-401.json
build/android-profile/profile-2018-03-02-15-30-46-135.rawproto
build/android-profile/profile-2018-03-02-15-30-46-135.json
build/android-profile/profile-2018-03-02-15-30-21-735.rawproto
build/android-profile/profile-2018-03-02-15-30-21-735.json
build/android-profile/profile-2018-03-02-14-37-00-468.rawproto
build/android-profile/profile-2018-03-02-12-36-46-604.json
build/android-profile/profile-2018-03-02-12-36-31-528.rawproto
build/android-profile/profile-2018-03-02-12-36-31-528.json
build/android-profile/profile-2018-03-02-12-36-08-579.rawproto
build/android-profile/profile-2018-03-02-12-36-08-579.json
build/android-profile/profile-2018-03-02-12-35-54-403.rawproto
build/android-profile/profile-2018-03-02-12-35-54-403.json
build/android-profile/profile-2018-03-02-12-33-48-039.rawproto
build/android-profile/profile-2018-03-02-12-33-48-039.json
build/android-profile/profile-2018-03-02-12-33-37-297.rawproto
build/android-profile/profile-2018-03-02-12-33-37-297.json
build/android-profile/profile-2018-03-02-12-32-03-870.rawproto
build/android-profile/profile-2018-03-02-12-32-03-870.json
build/android-profile/profile-2018-03-02-12-31-17-362.rawproto
build/android-profile/profile-2018-03-02-12-31-17-362.json
build/android-profile/profile-2018-03-02-12-30-41-237.rawproto
build/android-profile/profile-2018-03-02-12-30-41-237.json
build/android-profile/profile-2018-03-02-12-30-31-268.rawproto
build/android-profile/profile-2018-03-02-12-30-31-268.json
build/android-profile/profile-2018-03-02-12-28-30-711.rawproto
build/android-profile/profile-2018-03-02-12-28-30-711.json
build/android-profile/profile-2018-03-02-12-28-24-522.rawproto
